sprintwallNodes.json
[{"id":"22233354.a07d8c","type":"ui_date_picker","z":"b29bbe04.1f44","name":"endDate","label":"Fin   ","group":"97cb4013.0162","order":3,"width":"0","height":"0","passthru":false,"topic":"end","x":120,"y":500,"wires":[["fbdd8789.04ef68"]],"inputLabels":["msg.payload"]},{"id":"26d3900e.bc5a6","type":"ui_date_picker","z":"b29bbe04.1f44","name":"startDate","label":"Début","group":"97cb4013.0162","order":2,"width":"0","height":"0","passthru":false,"topic":"start","x":120,"y":460,"wires":[["531da814.0b93f8"]],"inputLabels":["msg.payload"]},{"id":"84d4646b.9db008","type":"ui_button","z":"b29bbe04.1f44","name":"button_validate","group":"97cb4013.0162","order":8,"width":0,"height":0,"passthru":false,"label":"Commencer le sprint !","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bon courage","payloadType":"str","topic":"","x":100,"y":660,"wires":[["7bd9dd5a.c6ddd4"]]},{"id":"d14f412d.090e5","type":"ui_toast","z":"b29bbe04.1f44","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Le sprint est enregistré !","name":"sprintValidated","x":620,"y":660,"wires":[],"inputLabels":["0"]},{"id":"c8336113.c00d8","type":"function","z":"b29bbe04.1f44","name":"setSprintName","func":"var textInput = \"Sprint\";\nif (msg.topic == \"text input\") {\nflow.set(\"textInput\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[[]]},{"id":"7b4ce701.3897a8","type":"debug","z":"b29bbe04.1f44","name":"Dates","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":480,"wires":[]},{"id":"83e49b77.800628","type":"file in","z":"b29bbe04.1f44","name":"readSettings","filename":"/home/pi/sprintwall/settings.json","format":"utf8","chunk":false,"sendError":false,"x":230,"y":300,"wires":[["56d9a4c9.87071c"]]},{"id":"471f6ad0.7e9e24","type":"file","z":"b29bbe04.1f44","name":"saveSettings","filename":"./sprintwall/settings.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":650,"y":720,"wires":[["c9007a94.f6f0a8","d8d5f45e.dea0c8"]]},{"id":"56d9a4c9.87071c","type":"json","z":"b29bbe04.1f44","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":340,"wires":[["1ca7d861.adbf38","6bd88a6e.21d494","d5a49219.96db4"]]},{"id":"1ca7d861.adbf38","type":"function","z":"b29bbe04.1f44","name":"initStartDatePicker","func":"dataReaded = msg.payload;\nnode.log(typeof dataReaded);\n\nmsg.payload = dataReaded.start;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["26d3900e.bc5a6"]]},{"id":"6bd88a6e.21d494","type":"function","z":"b29bbe04.1f44","name":"initFlowVariables","func":"dataReaded = msg.payload;\nnode.log(typeof dataReaded);\n\nvar mode = \"\";\nvar textInput = \"\";\nvar startInput = \"\";\nvar endInput = \"\";\nif (dataReaded.start)\n    startInput = dataReaded.start;\nif (dataReaded.end)\n    endInput = dataReaded.end;\n\nflow.set(\"mode\", dataReaded.mode);\nflow.set(\"startInput\", startInput);\nflow.set(\"endInput\", endInput);\nflow.set(\"textInput\", dataReaded.message);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["4ebaa04e.9d461"]]},{"id":"7bd9dd5a.c6ddd4","type":"function","z":"b29bbe04.1f44","name":"getFlowVariables","func":"var mode = flow.get('mode');\nvar startInput = flow.get('startInput');\nvar endInput = flow.get('endInput');\nvar textInput = flow.get('textInput');\n\nvar data = {\"mode\": mode,\"start\": startInput,\"end\": endInput,\"message\": textInput};\nnode.log(typeof data);\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["bf6b898.5101678","d14f412d.090e5"]]},{"id":"bf6b898.5101678","type":"json","z":"b29bbe04.1f44","name":"","property":"payload","action":"str","pretty":true,"x":470,"y":720,"wires":[["471f6ad0.7e9e24"]]},{"id":"f17ee47f.d6cfa8","type":"ui_ui_control","z":"b29bbe04.1f44","name":"uiControl","x":80,"y":300,"wires":[["83e49b77.800628"]]},{"id":"5b88b052.d8d1c","type":"ui_text_input","z":"b29bbe04.1f44","name":"sprintName","label":"sprint","tooltip":"","group":"97cb4013.0162","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"200","topic":"text input","x":90,"y":200,"wires":[["c8336113.c00d8"]]},{"id":"4ebaa04e.9d461","type":"debug","z":"b29bbe04.1f44","name":"InitVar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":300,"wires":[]},{"id":"d5a49219.96db4","type":"function","z":"b29bbe04.1f44","name":"initEndDatePicker","func":"dataReaded = msg.payload;\nnode.log(typeof dataReaded);\n\nmsg.payload = dataReaded.end;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["22233354.a07d8c"]]},{"id":"531da814.0b93f8","type":"moment","z":"b29bbe04.1f44","name":"timestampToStartDate","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":320,"y":460,"wires":[["8ac7f795.5cab18"]]},{"id":"fbdd8789.04ef68","type":"moment","z":"b29bbe04.1f44","name":"timestampToEndDate","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":320,"y":500,"wires":[["c2951a1d.c040c8"]]},{"id":"8ac7f795.5cab18","type":"function","z":"b29bbe04.1f44","name":"setStartDate","func":"var startInput = flow.get('startInput') || \"\";\nflow.set(\"startInput\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["7b4ce701.3897a8"]]},{"id":"c2951a1d.c040c8","type":"function","z":"b29bbe04.1f44","name":"setEndDate","func":"var endInput = flow.get('endInput') || \"\";\nflow.set(\"endInput\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["7b4ce701.3897a8"]]},{"id":"c774baa8.ffb2a8","type":"ui_text_input","z":"b29bbe04.1f44","name":"endTime","label":"Heure de fin","tooltip":"","group":"97cb4013.0162","order":5,"width":0,"height":0,"passthru":true,"mode":"time","delay":"200","topic":"","x":120,"y":580,"wires":[["f55d25.054ab2d8"]],"inputLabels":["0"]},{"id":"aab81da9.1127","type":"debug","z":"b29bbe04.1f44","name":"CONCAT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":560,"wires":[]},{"id":"f55d25.054ab2d8","type":"moment","z":"b29bbe04.1f44","name":"timeToDigitalEnd","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"C","output":"payload","outputType":"msg","outTz":"Africa/Abidjan","x":310,"y":580,"wires":[["ef35d8e8.5f2338"]]},{"id":"37e3382.3ed53c8","type":"function","z":"b29bbe04.1f44","name":"ConcatStartDateTime","func":"var startDate = flow.get('startInput') || \"\";\nstartTime = msg.payload;\nvar newDateTime = startDate.substring(0, 11);\n\nflow.set(\"startInput\", newDateTime + startTime);\nmsg.payload = flow.get('startInput');\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["aab81da9.1127"]]},{"id":"ef35d8e8.5f2338","type":"function","z":"b29bbe04.1f44","name":"ConcatEndDateTime","func":"var endDate = flow.get('endInput') || \"\";\nendTime = msg.payload;\nvar newDateTime = endDate.substring(0, 11);\n\nflow.set(\"endInput\", newDateTime + endTime);\nmsg.payload = flow.get('endInput');\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["aab81da9.1127"]]},{"id":"a1a6d2c5.e146c","type":"moment","z":"b29bbe04.1f44","name":"timeToDigitalStart","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"C","output":"payload","outputType":"msg","outTz":"Africa/Abidjan","x":310,"y":540,"wires":[["37e3382.3ed53c8"]]},{"id":"ad83d8c1.072188","type":"ui_text_input","z":"b29bbe04.1f44","name":"startTime","label":"Heure de début","tooltip":"","group":"97cb4013.0162","order":4,"width":0,"height":0,"passthru":true,"mode":"time","delay":"200","topic":"","x":120,"y":540,"wires":[["a1a6d2c5.e146c"]],"inputLabels":["0"]},{"id":"d8d5f45e.dea0c8","type":"debug","z":"b29bbe04.1f44","name":"dataWritten","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":680,"wires":[]},{"id":"3a0adec2.726852","type":"ui_dropdown","z":"b29bbe04.1f44","name":"","label":"Sélectionner un mode","tooltip":"","place":"displayMode","group":"97cb4013.0162","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"compte à rebours","value":"countdown","type":"str"},{"label":"pourcentage","value":"percent","type":"str"}],"payload":"","topic":"","x":120,"y":780,"wires":[["4bd87cd3.81e564"]]},{"id":"4bd87cd3.81e564","type":"function","z":"b29bbe04.1f44","name":"setMode","func":"var mode = flow.get('mode') || \"\";\n\nif (msg.payload === \"countdown\"){\n    flow.set(\"mode\", \"countdown\");\n}\nif (msg.payload === \"percent\"){\n    flow.set(\"mode\", \"percent\");\n} \nreturn msg;","outputs":1,"noerr":0,"x":360,"y":780,"wires":[[]]},{"id":"c9007a94.f6f0a8","type":"function","z":"b29bbe04.1f44","name":"sendSettingsFilename","func":"msg.ip = \"localhost\";\nmsg.port = 3001;\nmsg.payload = \"ping\";\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":780,"wires":[["520a23f9.d0bc5c"]]},{"id":"520a23f9.d0bc5c","type":"udp out","z":"b29bbe04.1f44","name":"updateDisplay","addr":"127.0.0.1","iface":"","port":"3001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":740,"y":840,"wires":[]},{"id":"97cb4013.0162","type":"ui_group","z":"","name":"Paramètres de sprint","tab":"5c96ebf7.deacb4","order":1,"disp":true,"width":"8","collapse":false},{"id":"5c96ebf7.deacb4","type":"ui_tab","z":"","name":"Sprint Wall","icon":"dashboard","order":2,"disabled":false,"hidden":false}]